@charset "UTF-8";


.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(10, 20, 40, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
	background: rgba(9, 20, 40, 0.9);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 680px;
	height: 650px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal-window2 {
	background: rgba(9, 20, 40, 0.9);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 680px;
	height: 800px;
	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: #C8AA6E;
}

.title h2 {
	display: inline;
}

.close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: #C89B3C;
}

.content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: white;
	text-align: left;
}
.contents{
	width : 300px;
	height : 200px;
	border: 1px solid black;
}




/* .btn-group{ */
/* 	border-radius: 0; */
/* } */
.btn-group button{
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.btn-group #duoBtn{
	margin-right: -4px;
	border-radius: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.btn-group #mentoBtn{
	margin-left: -4px;
	border-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.btn-group #discodeOn,#dOn{
	margin-right: -4px;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.btn-group #discodeOff,#dOff{
	margin-left: -4px;
	border-radius: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.btn-group .selectBtn{
	border: 1px solid #091428;
	background-color: #C89B3C;
	color: #1E282D;
}
.btn-group .noSelectBtn{
	border: 1px solid #C89B3C;
	background-color: #091428;
	color: #C89B3C;
}

#lmWriteBtn{
	border: 1px solid #091428;
	background-color: #C89B3C;
	color: #1E282D;
	position: absolute;
	width: 60px;
	height: 30px;
	bottom: 4%;
	right: 3%;
	border-radius: 5px;
}

.positionSelect{
	margin-top: 10px;
	margin-bottom: 20px;
}
.myPoDivSelect{
	margin-left: 20px;
}
.findPoDivSelect{
	margin-left: 15%;
}
.btn-group, .lm_gameMode_write, .myPoDivSelect, .findPoDivSelect{
	display: inline-block;
}
.myPoDivSelect h5,.findPoDivSelect h5{
	margin: 0;
}

.lmMemoDiv{
	margin: 15px 0px 15px 0px;
	text-align: center;
}
.lmMemoDiv textarea{
	resize: none;
	background-color: #1E2328;
	color: #C89B3C;
	font-size: 1.2em;
	padding: 10px;
	overflow-y: auto;
}

.swal2-x-mark,.swal2-success-ring{
	background-color: transparent;
}
.swal2-popup{
    background-color: #091428;
}
