@charset "UTF-8";
* {
	margin: 1px;
	text-align: center;
	background-color: #0A1428;
	padding: 0;
	border: 0;
	color: orange;
}

.img {
	height: 50px;
	display: block;
	float: left;
	margin-left: 10%;
	margin-right: auto;
	cursor:pointer;

}

.img1 {
	height: 300px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

div {
	text-align: center;
}

header {

    top: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1; /* 배경 이미지 위에 헤더가 표시되도록 z-index 지정 */

}
body {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1; /* 배경 이미지의 투명도 조절 */
    align-items: center;
    height: 100vh;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	width: 100%

}

nav li {
	display: inline;
	margin:0;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

nav li button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	padding: 0;
	font: inherit;
	outline: inherit;
	align-items: center;

	
}

nav li button:hover {
	text-decoration: underline;
}

.search{
	height:40px;
	width: 400px;
	border: 1px solid #1b5ac2;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;	
	overflow:hidden;
}
input{
	font-size:16px;
	width:325px;
	padding:10px;
	border:0;

	float:left;	
	outline:none;
	background-color: fff;
}
.input2{
	width:50px;
	height:100%;
	border:0;
	background-color: #1b5ac2;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	float:right;
}
button{
	background-color: #1b5ac2;
	color: #fff;
	margin: 9px;
	border-radius: 10px;
	padding: 2px 4px; 
  	font-size: 15px;
}
.l-container {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}