<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/exstyle.css">
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<style>
table * {
	font-size: 1.0em;
}

li * {
	font-size: 0.9em;
}
</style>
</head>
<body>
    <div class="l-container">
        <header class="insert">
        	<div th:insert="~{header :: h1}" class="logo">로고</div>
        	<div th:insert="~{header :: ul}" class="header">헤더</div>
        </header>
        <div>
            <div class="flex">
                <span class="width333" style="padding: 10px;">
                    <input type="text" id="searchInput" placeholder="챔피언 검색(가렌, ㄱㄹ, ...)" class="search"><br>
                    <span>
                        <label><input type="radio" value="" name="aa" class="po" checked="checked">전체</label>
                        <label><input type="radio" value="top" name="aa" class="po">탑</label>
                        <label><input type="radio" value="jungle" name="aa" class="po">정글</label>
                        <label><input type="radio" value="middle" name="aa" class="po">미드</label>
                        <label><input type="radio" value="bottom" name="aa" class="po">원딜</label>
                        <label><input type="radio" value="utility" name="aa" class="po">서폿</label>
                    </span>
                </span>
			    <span class="width678 relative" style="display: grid; align-items: end">
                     <span>
                    <select id="dropDown" style="display:none;">
					    <option value="챌린저">챌린저</option>
					    <option value="그랜드마스터">그랜드마스터</option>
					    <option value="마스터">마스터</option>
					    <option value="다이아몬드">다이아+</option>
					    <option value="에메랄드" selected>에메랄드+</option>
					    <option value="플래티넘">플래티넘+</option>
					</select>
	                <span>
	                    <label><input type="radio" value="" name="aaa" class="po" checked="checked">전체</label>
                        <label><input type="radio" value="top" name="aaa" class="po">탑</label>
                        <label><input type="radio" value="jungle" name="aaa" class="po">정글</label>
                        <label><input type="radio" value="middle" name="aaa" class="po">미드</label>
                        <label><input type="radio" value="bottom" name="aaa" class="po">원딜</label>
                        <label><input type="radio" value="utility" name="aaa" class="po">서폿</label>
                    </span>
                    </span>
                </span>
            </div>
            <div class="flex">
                <div id="tabKr" class="width333">
                    <ul id="searchBar" class="width100">
                        <li th:each="champion : ${champions}">
    						<a th:href="@{/ex/{championName}/{highest_pick_rate_position}(championName=${champion.championName}, highest_pick_rate_position=${champion.highest_pick_rate_position})}"
    						onclick="setSelectedPosition('${champion.highest_pick_rate_position}')">
        						<img th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion.championName}.png|"
            						alt="초상화">
        						<div th:utext="${#strings.length(champion.championName_KR) > 3 ? champion.championName_KR.substring(0, 3) + '...' : champion.championName_KR}" class="set"></div>
    						</a>
						</li>
                    </ul>
                </div>
                <table class="width678">
                    <thead style="background-color: #1E282D">
                        <tr>
                            <td style="width: 6.25%">순위</td>
                            <td class="left" style="width: 20%">챔피언</td>
                            <td style="width: 12.5%">포지션</td>
                            <td style="width: 12.5%">승률</td>
                            <td style="width: 12.5%">픽률</td>
                            <td style="width: 12.5%">밴률</td>
                        </tr>
                    </thead>
                    <tbody id="tabWin" style="background-color: #1E282D">
                        <tr th:each="champion, chIndex : ${championList}">
                            <td th:text="${chIndex.index + 1}">순위</td>
                            <td class="flex">
                                <a th:href="@{/ex/{championName}/{highest_pick_rate_position}(championName=${champion.championName}, highest_pick_rate_position=${champion.highest_pick_rate_position})}">
                                    <img th:src="|https://ddragon.leagueoflegends.com/cdn/14.2.1/img/champion/${champion['championName']}.png|"
                                        alt="초상화">
                                    <strong class="strong" th:text="${champion['championName_KR']}">이름</strong>
                                </a>
                            </td>
                            <td>
                                <img th:src="|${champion.highest_pick_rate_position == 'top' ? '../img/position/Diamond-Top.png' : 
								(champion.highest_pick_rate_position == 'jungle' ? '../img/position/Diamond-Jungle.png' : 
								(champion.highest_pick_rate_position == 'middle' ? '../img/position/Diamond-Mid.png' : 
								(champion.highest_pick_rate_position == 'bottom' ? '../img/position/Diamond-Bot.png' : 
								(champion.highest_pick_rate_position == 'UTILITY' ? '../img/position/Diamond-Support.png' : champion.highest_pick_rate_position))))}|"
									style="width: 30px; height:30px" >
                            </td>
                            <td th:text="|${champion['winrate']}%|">승률</td>
                            <td th:text="|${champion['pickrate']}%|">픽률</td>
                            <td th:text="|${champion['banrate']}%|">밴율</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
	<script type="text/javascript" src="/js/ex.js"></script>
</body>

</html>